<div class="container mt-2">
  <form action="/restaurants" method="POST">
    <button class="btn btn-sm btn-outline-primary mb-2" type="submit">新增</button>
    <input class="form-control mb-2" type="text" placeholder="Name" name="name">
    <input class="form-control mb-2" type="text" placeholder="English Name" name="name_en">
    <input class="form-control mb-2" type="text" placeholder="Category" name="category">
    <input class="form-control mb-2" type="text" placeholder="Image" name="image">
    <input class="form-control mb-2" type="text" placeholder="Location" name="location">
    <input class="form-control mb-2" type="text" placeholder="Phone" name="phone">
    <input class="form-control mb-2" type="text" placeholder="Foogle Map" name="google_map">
    <input class="form-control mb-2" type="text" placeholder="Rating" name="rating">
    <input class="form-control mb-2" type="text" placeholder="Description" name="description">
    <div class="mb-5"></div>
  </form>
</div>